<body>
    <div id= "aboutview" ng-controller= "aboutController">
        <!--style="overflow: scroll;"-->

        <h2>The Developers &#8595;</h2>

        <p></p>

    <div class="bios">
          <h3>Jazib</h3>
              <img src="../images/jazib.jpg" class= "bio-image">
              <br>

                  <div class="social">
                        <a href="https://github.com/jazibnasim">
                            <img src="../images/github.png" class= "github-image">
                        </a>
                        <a href="https://www.linkedin.com/in/jazibnasim">
                            <img src="../images/linkedin.png" class= "linkedin-image">
                        </a>
                  </div>
          </div>
          <div class="bios">
              <h3>Katie</h3>
                  <img src="../images/katie.jpg" class= "bio-image">
              <br>
                <div class="social">
                        <a href="https://github.com/kkerkman">
                          <img src="../images/github.png" class= "github-image">
                        </a>
                        <a href="https://www.linkedin.com/in/kathrynkerkman">
                          <img src="../images/linkedin.png" class= "linkedin-image">
                        </a>
                </div>
          </div>
          <div class="bios">
              <h3>Neal</h3>
                  <img src="../images/neal.jpg" class= "bio-image">
              <br>
                  <div class="social">
                        <a href="https://github.com/nealcsimms">
                            <img src="../images/github.png" class= "github-image">
                        </a>
                        <a href="http://linkedin.com/in/nealcsimms">
                            <img src="../images/linkedin.png" class= "linkedin-image">
                        </a>
                </div>
          </div>




    </div>




</body>
